body{
    font-family: Verdana ;
    font-size: 13px;
    color: #333;
    background: #f3f3f3;
    padding: 20px; margin:0;
}
a{
    color:#cb2c2c;
    text-decoration: none;
}
h1 {
    color:red;
}
img {
    width: 300px; height: 300px;
}
ul.list2{
    color:red;
}