body {
    font-family: Verdana;
    font-size: 13px;
    color: #333;
    background: #f3f3f3;
    padding: 20px;
    margin:0;
}
img {
    width: 300px;
    height: 300px;
}
.text-red {
    color: red;
}
