{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "alias": {
        "src": "./db"
      },
      "extensions": [".coffee", ".js"]
    }]
  ]
}
